# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Python / Backend
backend/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
env/
venv/

# OS / Logs
.DS_Store
Thumbs.db
*.log
